{{# partial "content" }}
<script type="text/javascript">
function validateMultipleEmails(){
	return false;
}
</script>
<br/>
<div ng-controller="deviceCtrl">
<div class="container">
  <div id="email-sec" class="panel panel-default">
    <div class="panel-heading">
      <div class="h3 panel-title text-center">Invite users</div>
    </div>
    <br/>&nbsp;&nbsp;&nbsp;Use the following form to invite users, creating and sending an email with instructions on how to activate their account.
          	<br/>
          	<br/>
          	
     <div class="sc-top-alert alert alert-dismissable alert-info" ng-hide="hideInviteMsg"> Invite sent.</div>
      
      <div class="panel-body">
        <div class="form-group">
          <label for="f-bu">Email(Multiple email addresses separated with commas/spaces)</label><br/>
			<!-- <input name="emailAll" type="text" class="form-control" id="cpn-swap-to" placeholder="" ng-model="emails" data-bv-callback-callback="validateMultipleEmails"><i class="glyphicon glyphicon-envelope"></i></input> -->
			<div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            	<input name="emailAll" id="cpn-swap-to" placeholder="Email" class="form-control"  type="text" ng-model="emails">
            </div>
            <br>
			<button id="invite" class="btn btn-primary" type="button" ng-click="sendInvite()">Send Invite<span class="glyphicon glyphicon-send">
		          <span><i id="f-submit-spinner" class="fa fa-spinner fa-spin display-none"></i>
		          </span>
        	</button>
        </div>
	 </div>
	 
</div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="h3 panel-title text-center">Devices</div>
    </div>
    <br/><br/><br/>
      <div class="panel-body">
        <div class="form-group">
         <div class="col-sm-offset-1 col-sm-50">
    <table class="table sc-table js-editable-table-devices">
      <thead>
        <tr>
          <th style="text-align:left">
            <a href="/customer/users_devices?asc=true&amp;order_by=name&amp;page=1">
              ID
            </a>
          </th>
          <th style="text-align:left">
            <a href="/customer/users_devices?asc=false&amp;order_by=users.email&amp;page=1">
                  <span class="sc-arrow-down"></span>
              User
            </a>
          </th>
          <th style="text-align:left">
            <a href="/customer/users_devices?asc=true&amp;order_by=device&amp;page=1">
              Model
            </a>
          </th>
          <th style="text-align:left">
            <a href="/customer/users_devices?asc=true&amp;order_by=os&amp;page=1">
              OS
            </a>
          </th>
          <th style="text-align:left">
            <a href="/customer/users_devices?asc=true&amp;order_by=flow_version&amp;page=1">
              App Ver.
            </a>
          </th>
          <th style="text-align:left">
            <a href="/customer/users_devices?asc=true&amp;order_by=linked_at&amp;page=1">
              Added
            </a>
          </th>
          <th style="text-align:left">
            <a href="/customer/users_devices?asc=true&amp;order_by=last_login&amp;page=1">
              Last Active
            </a>
          </th>
          <th class="sc-nosort" style="text-align: right; min-width: 170px;">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
          <tr class="sc-first-row" data-uri="/customer/users_devices/destroy_device?id=13792" 	ng-show="!editDevice">
            <td style="text-align:left" class="js-name">[[licenseKey]]</td>
            <td style="text-align:left">[[deviceEmail]]</td>
            <td style="text-align:left">-</td>
            <td style="text-align:left; min-width: 100px">[[os]]</td>
            <td style="text-align:left; min-width: 75px">[[version]]</td>
            <td style="text-align:left">-</td>
            <td style="text-align:left; min-width: 100px">-</td>

              <td style="text-align:right">
                  <i class="fa fa-pencil-square-o fa-10" ng-if="activeStatus" aria-hidden="true" ng-click="edit()"></i>
              	  <a class="btn btn-primary js-save" href="#" ng-click='toggleActivate(deviceId, activeStatus)'>[[toggleActionName]]</a>
              </td>
          </tr>

          <tr class="sc-first-row"  ng-show="editDevice">
            <td style="text-align:left">
              <input type="text" name="device[name]" id="device_name" class="form-control" ng-model="licenseKey" >
            </td>
            <td style="text-align:left">[[deviceEmail]]</td>
            <td style="text-align:left">-</td>
            <td style="text-align:left">[[os]]</td>
            <td style="text-align:left">[[version]]</td>
            <td style="text-align:left">-</td>
            <td style="text-align:left">-</td>
            <td style="text-align:right">
              <a class="btn btn-primary js-save" href="#" ng-click='updateDevice([[deviceId]])'>SAVE</a>
              <a class="btn btn-default js-cancel" href="#" ng-click="cancel()">CANCEL</a>
            </td>
          </tr>
      </tbody>
      </table>
      <div class="sc-table-pagination">
        <span></span>
        
        
      </div>
  </div>
        </div>
        
        
 </div>
</div>
</div>
</div>

<script type="text/javascript">

 

   $(document).ready(function() {

    $('#reg_form').bootstrapValidator({

        // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later

        feedbackIcons: {

            valid: 'glyphicon glyphicon-ok',

            invalid: 'glyphicon glyphicon-remove',

            validating: 'glyphicon glyphicon-refresh'

        },

        fields: {

        	emailAll: {

                validators: {
                	stringLength: {

                        min: 2,

						message: 'First Name should be Mininum 2 characters'

                    },

                        notEmpty: {

                        message: 'Please Enter your first name'

                    }
                }
            }
        }
        
  })
{{/partial}} {{> index}}
