{{# partial "content" }}


<br>
<div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2"
	aria-hidden="false">
	<div class="panel panel-info">
		<div class="panel-heading text-center">
			<span class="fa fa-sign-in"> Login</span>
		</div>
		<div class="panel-body">
			<form id="login-form" role="form">
				<div class="form-group">
					<div class="input-group top">
						<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
						<input type="text" class="form-control" id="login-username"
							name="login-username" placeholder="email">
					</div>
					<div class="input-group last">
						<span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
						<input type="password" class="form-control" id="login-password"
							name="login-password" placeholder="Password">
					</div>
				</div>
				<div class="col-xs-12 margin-top-20">
					<button type="submit" class="btn btn-block btn-success">
						Login <span class="glyphicon glyphicon-play"></span>
					</button>
					<button type="button" class="btn btn-block btn-primary" id="signup"
						data-ng-click="vm.signIn=false;">
						Sign Up <span class="glyphicon glyphicon-hand-up"></span>
					</button>
					<button type="button" class="btn btn-block btn-primary" id="forgotpwd"
						data-ng-click="vm.signIn=false;">
						ForGot Password <span class="glyphicon glyphicon-hand-up"></span>
					</button>
				</div>
			</form>
		</div>
	</div>
<div id="message"></div>
</div>



<script type="text/javascript">
$(document).ready(function () {

$('#forgotpwd').click(function (e) {
  e.preventDefault()
  $('#message').html('<div class="alert alert-warning fade in"><button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">x</button>Forgot password not implemented as part of Demo.</div>');
})

$('#signup').click(function (e) {
	  e.preventDefault()
	  $('#message').html('<div class="alert alert-warning fade in"><button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">x</button>SingnUp not implemented as part of Demo.</div>');
	})


});
</script>

<style>
#myAlert {
    display: none;
}
</style>

<script src="javascripts/login.js"></script>
{{/partial}} {{> index}}
