<!DOCTYPE html>
<html lang="en" ng-app="scmApp">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Dashboard for Device</title>

  <!-- Bootstrap Core CSS -->
  <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- MetisMenu CSS -->
  <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

  <!-- Timeline CSS -->
  <link href="../sb-admin-dist/css/timeline.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="../sb-admin-dist/css/sb-admin-2.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.css">

  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="stylesheets/stilearn.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/5.3.3/css/jquery.mmenu.all.css">
  
  <link href="../bower_components/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css">
  <link href="../bower_components/angularjs-slider/dist/rzslider.min.css" rel="stylesheet" type="text/css">
  
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/impactchart.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
  <div id="wrapper">
    <nav class="navbar navbar-custom navbar-static-top header" role="navigation" style="margin-bottom: 0;">
      <div class="header-brand">
       <!--  <div class="navbar-header">
          <img id="logo-img" alt="Cisco" height="40" width="40" src="./images/cisco2.png">
        </div>
        <h1 id="title" class="navbar-brand text-primary"><a href="bu-dashboard">Product Cost Analysis And Modeling</a>
        </h1> -->
      </div>
      <!-- /.navbar-header -->

      <!-- header-profile -->
      {{#if userName}}
      <div class="header-profile">
        <div class="profile-nav">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user fa-fw"></i>
            <span class="profile-username">{{{userName}}}</span>
            <span class="fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu animated flipInX pull-right" role="menu">
            <li><a id="logout" href="#"><i class="fa fa-sign-out"></i> Logout</a>
            </li>
          </ul>
        </div>
        <div class="profile-picture">
          <img alt="me" src="images\unkown.jpg" style="width:38.5px;height:38.5px">
        </div>
      </div>
      <!-- header-profile -->
      {{/if}}
    </nav>
<div ng-controller="passCtrl">
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="h3 panel-title text-center">Set Password</div>
    </div>
    <div class="panel-body">
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<center><font size="3" color="red">[[error]]</font></center> 
      <form role="form">
        <div class="form-group">
          <label for="f-bu">Password</label>
			<input type="password" class="form-control" id="cpn-swap-to" placeholder="" ng-model="password">
        </div>
        <div class="form-group">
          <label for="f-quarter">Confirm Password</label>
			<input type="password" class="form-control" id="cpn-swap-to" placeholder="" ng-model="cPassword">
        </div>
        <input type='hidden' ng-model='email' name="email" ng-update-hidde/>
        <button id="submit" class="btn btn-primary" type="button" ng-click="setPass()">Submit
          <span><i id="f-submit-spinner" class="fa fa-spinner fa-spin display-none"></i>
          </span>
        </button>
      </form>
    </div>
  </div>
</div>
</div>

	<script src="../bower_components/lodash/lodash.min.js"></script>

    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>
    
    <script src="../bower_components/select2/dist/js/select2.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../sb-admin-dist/js/sb-admin-2.js"></script>
    
    <script src="../bower_components/handlebars/handlebars.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.min.js"></script>
    <script src="../bower_components/angularjs-slider/dist/rzslider.min.js"></script>
    <script src="app.js"></script>
    
    <script src="../bower_components/d3/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/5.3.3/js/jquery.mmenu.min.all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/extensions/export/bootstrap-table-export.js"></script>

    <div id="main-alert" class="container alert alert-danger display-none">
        <button type="button" class="close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <strong>EmailValidationFail:</strong>
        <span class="message"></span>
    </div>
	

	<div class="bottom-buffer"> 
      	{{#block "content" }} {{/block}}
    </div>		
	</body>
</html>
